aniso8601==3.0.2
Babel==2.6.0
blinker==1.4
certifi==2018.8.24
chardet==3.0.4
click==6.7
clickclick==1.2.2
connexion==1.5.2
Flask==1.0.2
Flask-BabelEx==0.9.3
Flask-HTTPAuth==3.2.4
Flask-JWT==0.3.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-OAuth==0.12
Flask-OAuthlib==0.9.5
Flask-Principal==0.4.0
Flask-RESTful==0.3.6
Flask-Security==3.0.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
functools32==3.2.3.post2
GisApiFlask==0.0.0
httplib2==0.18.0
idna==2.7
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
nose==1.3.7
numpy==1.13.3
oauth2==1.9.0.post1
oauthlib==2.1.0
passlib==1.7.1
pathlib==1.0.1
pycairo==1.16.2
pygobject==3.26.1
PyJWT==1.4.2
pyportmidi==0.0.7
pytz==2018.5
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
speaklater==1.3
SQLAlchemy==1.2.11
swagger-spec-validator==2.4.0
typing==3.6.6
urllib3==1.23
Werkzeug==0.14.1
WTForms==2.2.1
yasm==0.0
